{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "rules": {
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": [],
                "specialLink": ["hrefLeft", "hrefRight"],
                "aspects": ["noHref", "invalidHref", "preferButton"]
            }
        ]
    }
}
