.c-footer {
  background: {
    image: url('#{$footerImage}');
    size: contain;
    repeat: no-repeat;
    position: bottom center;
  }
  margin-top: auto;
  height: 600px;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;  
}
