.c-letter {
    display: block;
    text-transform: uppercase;
    padding: $spacing-unit;
    border: 1px solid $scooter;
    border-radius: 10px;
    font-size: 2rem;
    color: white;
    background-color: $scooter;
    text-align: center;

    &:focus {
        outline: 3px dotted $scooter;
    }

    &--selected {
        border-color: $supernova;
        background-color: $supernova;
    }
}
