html {
    min-height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Alegreya Sans';
    font-size: $base-font-size;
    background-color: $alabaster;
    //color: $white;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre,
hr,
table,
blockquote {
    margin-bottom: $spacing-unit;
}
